{% extends "layout.html" %}
{% block container %}
<!-- page heading start-->
        <div class="page-heading">
            <h3>
                Garbage Can
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{{url_for('map.devices_on_map')}}">Dashboard</a>
                </li>
                <li class="active"> List </li>
            </ul>
        </div>
        <!-- page heading end-->


    <div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    Editable Table
                </header>
                <div class="panel-body">
                <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <button id="cans_new" class="btn btn-primary">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="cans-table">
                <thead>
                <tr>
                    <th>Garbage Can Type</th>
                    <th>Bottom distance</th>
                    <th>Top distance</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                    <tbody>
                    {% for can in can_datas %}
                    <tr data-can-id={{can.id}}>

                        <td>{{ can.type }}</td>
                        <td>{{ can.bottom_height }}</td>
                        <td>{{ can.top_height }}</td>
                        <td><a class="edit" href="">Edit</a></td>
                        <td><a class="delete" href="">Delete</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                </section>
                </div>
                </div>
        </div>
        <!--body wrapper end-->


<!--data table-->
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/DT_bootstrap.js') }}"></script>
<!--script for editable table-->
<script src="{{ url_for('static', filename='js/app/garbage-can/garbage_can_list.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
{% endblock %}

