{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div id="chart" class="device-data-chart"></div>
        <div class="panel panel-default">
            <div id="device-mac" class="panel-heading"> <h3>{{device.mac}}</h3></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>垃圾占用率</th>
                        <th>垃圾桶温度</th>
                        <th>设备电量</th>
                    </tr>
                </thead>
                <tbody id="device-data">
                    {% for data in datas %}
                    <tr>
                        <td>{{ data['create_time'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ data['occupancy'] }} %</td>
                        <td>{{ data['temperature'] }} ℃</td>
                        <td>{{ data['electric_level'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

                </table>
                </div>

            </div>
            </div>
        </div>
          <!-- 分頁-->
          {{ pagination.links }}
{% endblock %}
{% block scripts %}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="{{ url_for('static', filename='js/app/device/device_data.js') }}"></script>
<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<!--data table-->
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/DT_bootstrap.js') }}"></script>

{% endblock %}