{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"> <h3>{{device.mac}}</h3></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>垃圾占用率</th>
                        <th>垃圾桶温度</th>
                        <th>设备电量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data['create_time'] }}</td>
                        <td>{{ data['occupancy'] }}</td>
                        <td>{{ data['temperature'] }}</td>
                        <td>{{ data['electric_level'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

                </table>
                </div>

            </div>
            </div>
        </div>
          <!-- 分頁-->
          {{ pagination.links }}
{% endblock %}
