{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"> <h3>设备</h3></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>设备地址</th>
                        <th>EUI</th>
                        <th>垃圾桶类型</th>
                        <th>垃圾占用率</th>
                        <th>垃圾桶温度</th>
                        <th>设备电量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices_datas %}
                    <tr>

                        <td><a href="{{ url_for('devices.device_profile_data', id = device.device_id) }}">{{ device.mac }}</a></td>
                        <td>{{ device.eui }}</td>
                        <td>{{ device.garbage_can }}</td>
                        <td>{{ device.occupancy }} %</td>
                        <td>{{ device.temperature }} ℃</td>
                        <td>{{ device.electric_level }} %</td>
                        <td><span><a class="btn btn-info" href="{{ url_for('devices.device_profile', device_id = device.device_id) }}">编辑</a></span>
                            <a class="btn btn-danger" href="{{ url_for('devices.delete_device', device_id = device.device_id) }}">删除</a></span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                </table>
                </div>

            </div>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('devices.device_profile', device_id=0)}}" class=""><button class="btn btn-primary">添加设备</button></a>
        </div>

 {{ pagination.links }}
{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="{{ url_for('static', filename='js/device/device_list.js') }}"></script>
{% endblock %}
{% endblock %}
